@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {margin:0; padding:0;}
html, body {width:100%; height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'돋움',dotum,Helvetica,sans-serif;font-size:12px;color:#383d41;vertical-align:middle;}
body{background-color:#fff;text-align:left;}
li{list-style:none}
input {outline:none;}
input,select,button{vertical-align:middle}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
img{border:0;}

a {color:#000000; text-decoration:none;}
a:hover {color:#000000; text-decoration:underline;}

p {margin-top:3px; margin-bottom:3px;}

.auto {margin:0 auto;}
.none {font-size:1px; line-height:1px;}
.bold {font-weight:bold;}
.left {text-align:left;}
.center {text-align:center;}
.pointer {cursor:pointer;}
.move {cursor:move;}
.underline {text-decoration:underline;}
.right {text-align:right;}
.clr {clear:both; font-size:0px;}
.up1 {position:relative; overflow:hidden; left:0; top:-1px;}
.up2 {position:relative; overflow:hidden; left:0; top:-2px;}
.up3 {position:relative; overflow:hidden; left:0; top:-3px;}
.up4 {position:relative; overflow:hidden; left:0; top:-4px;}
.up5 {position:relative; overflow:hidden; left:0; top:-5px;}
.up10 {position:relative; overflow:hidden; left:0; top:-10px;}
.down1 {position:relative; overflow:hidden; left:0; top:1px;}
.down2 {position:relative; overflow:hidden; left:0; top:2px;}
.down3 {position:relative; overflow:hidden; left:0; top:3px;}
.down4 {position:relative; overflow:hidden; left:0; top:4px;}
.down5{position:relative; overflow:hidden; left:0; top:5px;}

.l16 {line-height:16px;}
.l18 {line-height:18px;}

.userview {padding:0 7px 0 7px; line-height:14px; font-size:12px; color:#333333; font-family:dotum,돋움;}
.userview a:hover {color:#39bb00; text-decoration:none;}

.tooltip
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:9999;
    display:none;
    border:2px solid #0195a1;
    background-color:#ffffff;
    line-height:16px; font-size:11px; color:#898989; font-family:dotum,돋움;
    padding:20px 20px 20px 20px;
    font-weight:normal;
    text-align:left;
}

#message_body {position:absolute; top:0px; left:0px; width:0px; height:0px; z-index:999999; display:none; background-color:#000000; text-align:center;}
#message_box {position:absolute; top:0px; left:0px; padding:17px 20px 10px 20px; border:2px solid #c1c1c1; background:#ffffff; z-index:999999; display:none;}
#message_box .title {font-weight:bold; margin-bottom:8px; line-height:20px; font-size:14px; color:#333333; font-family:dotum,돋움; letter-spacing:-1px;}
#message_box .text {line-height:20px; font-size:13px; color:#363636; font-family:gulim,굴림;}
#message_box .btn{clear:both; margin-top:17px; padding:10px 0; border-top:1px solid #e5e5e5; text-align:center;}
#message_box .btn img {vertical-align:top;}

.layout_top_bg {position:absolute; top:0px; left:0px; width:100%; height:0px; z-index:-1;}
.layout_bottom_bg {position:absolute; bottom:0px; left:0px; width:100%; height:0px; z-index:-1;}


/*
font-family:'Jeju Gothic';
*/
.layout_contents{width:100% !important;background:none !important;position:relative;}
.layout_top {width:100% !important;margin: 0 auto !important;}
.layout_main{float:none !important;width:100% !important;margin:0 auto !important;max-width:1200px;min-width:1200px;position:relative;}
.layout_left{display:none !important;}
.layout_bottom{width:100% !important;}
#header, #footer{}
#header, #container{clear:both;width:1200px;margin:0 auto;}

#header .inner,
#container .inner,
#footer .inner{width:1200px;margin:0 auto;}

#header #top{clear:both;margin:0;padding:10px 0;height:112px;background:#fff;border:0;}
#header #top .logo{float:left;margin:27px 0 0 0;min-width:240px;}
#header #top .logo img{width:auto;max-width:260px;}
#header #top .search{float:left;margin:30px 0 0 40px;}
#header #top .search input{border:5px solid #fe0000;margin:0 2px 0 0;width:360px;height:42px;padding:0 10px;font-size:16px;font-weight:bold;}
#header #top .search .button{background:url('./../img/search_btn.png') no-repeat;width:102px;height:52px;text-indent:-999px;border:0;overflow:hidden;}
#header #top .top_right_bn{float:right;margin:5px 5px 0 0;}

#footer{clear:both;margin:0 auto;}
#footer .footer_quick{clear:both;background:url('./../img/bg_footer.png');height:185px;overflow:hidden;}
#footer .footer_quick > div{width:1075px;margin:0 auto;}
#footer .footer_quick > div > div{float:left;margin:0 40px;}
#footer .footer_quick > div > div > p{margin:0 0 10px;padding:30px 2px 5px;border-bottom:1px solid #a9aaab;font-size:15px;font-weight:600;color:#555;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#footer .footer_quick > div > div > p span{float:right;color:#acadae;font-weight:900;}
#footer .footer_quick > div > div > p span a{color:#acadae !important;padding:0 !important;}
#footer .footer_quick > div > div:nth-child(1){width:305px;}
#footer .footer_quick > div > div:nth-child(2){width:230px;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#footer .footer_quick > div > div:nth-child(3){width:285px;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#footer .footer_quick > div > div:nth-child(1) a{display:block;color:#555;padding:3px 0;font-family:dotum;text-decoration:none;}
#footer .footer_quick > div > div:nth-child(1) a b{font-size:10px;color:#9d9fa0;padding:0 4px 0 2px;vertical-align:4px;font-family:'Malum Gothic','MalumGothic',맑음고딕,sans-serif;}
#footer .footer_quick > div > div:nth-child(1) a strong{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:218px;font-weight:500;}
#footer .footer_quick > div > div:nth-child(1) a span{display:inline-block;float:right;}
#footer .footer_quick > div > div:nth-child(2) p{border:0;}
#footer .footer_quick > div > div:nth-child(2) li{float:left;width:33.3%;text-align:center;}
#footer .footer_quick > div > div:nth-child(2) li div{margin:0 0 7px;height:65px;background-image:url('./../img/f_quick_icon.png');background-repeat:no-repeat;}
#footer .footer_quick > div > div:nth-child(2) li:nth-child(1) div{background-position:6px 0;}
#footer .footer_quick > div > div:nth-child(2) li:nth-child(2) div{background-position:-70px 0;}
#footer .footer_quick > div > div:nth-child(2) li:nth-child(3) div{background-position:-146px 0;}
#footer .footer_quick > div > div:nth-child(2) li a{display:block;text-decoration:none;color:#707070;font-size:12px;font-weight:600;}
#footer .footer_quick > div > div:nth-child(3) strong{display:block;padding:0 0 4px;font-size:40px;font-weight:900;color:#000;letter-spacing:-2px;}
#footer .footer_quick > div > div:nth-child(3) span{display:block;color:#707070;line-height:15px;}
#footer .footer_quick > div > div:nth-child(3) span span{padding:4px 0 0;}

#footer .footer_menu{clear:both;height:36px;line-height:36px;background:#444;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#footer .footer_menu a{display:inline-block;text-decoration:none;color:#fff;padding:0 10px;margin:0 2px;}
#footer .copyright{clear:both;background:#f5f5f5;color:#848485;padding:30px 0;line-height:15px;font-size:12px;font-weight:600;min-height:54px;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#footer .copyright > div{width:930px;margin:0 auto;}
#footer .copyright > div div{float:left;}
#footer .copyright > div div:nth-child(1){padding:10px 0 0;}
#footer .copyright > div div:nth-child(2){max-width:600px;padding:0 0 0 50px;line-height:16px;}
#footer .copyright > div div p{padding:6px 0 0;margin:0;}
#footer .copyright > div div span{padding:0 10px 0 0;}
#footer .copyright .ft_logo{position:relative;}
#footer .copyright .ft_logo img{display:none;}
#footer .copyright .ft_logo span{display:block;font-size:45px;color:#c7c7c7;font-weight:600;line-height:35px;min-width:275px;letter-spacing:-1px;}
#footer .copyright .ft_logo b{font-weight:900;}

#top_lay{clear:both;position:relative;border-bottom:1px solid #c3c3c3;margin:0 0 12px;padding:0;}
#top_lay #gnb{clear:both;position:relative;background:#000;height:30px;line-height:30px;text-align:right;color:#fff;}
#top_lay #gnb > div{width:1200px;margin:0 auto;}
#top_lay #gnb a{display:inline-block;text-decoration:none;padding:0 3px;margin:0 4px 0 0;color:#fff;font-size:12px;font-weight:400;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#top_lay #gnb a:hover{color:#ffdbdb;}
.gnb_fix{position:fixed !important;top:0;left:0;width:100%;height:45px !important;line-height:43px !important;z-index:99999;}
.gnb_search{display:none;position:relative;float:left;}
.gnb_search .search input{margin:0 2px 0 10px;padding:0 5px;width:300px;height:26px;border:0;color:#000;font-size:13px;}
.gnb_search .search .button{background:#ec2427;width:50px;height:27px;line-height:27px;border:0;color:#fff;font-size:13px;font-weight:600;letter-spacing:-0.5px;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}

#lnb_cate{clear:both;position:relative;}
#lnb_cate ul{margin:0;padding:0;}
#lnb_cate a{display:block;text-decoration:none;}
#lnb_cate > ul{background:url('./../img/bg_lnb.png');width:239px;padding:15px 0;}
#lnb_cate > ul > li{padding:0 12px;line-height:32px;height:32px;}
#lnb_cate > ul > li > a{border-bottom:1px solid #c63838;color:#fff;text-indent:55px;font-size:15px;font-weight:600;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#lnb_cate > ul > li:last-child a{border-bottom:0;}
#lnb_cate > ul > li.on{background:#fff;}
#lnb_cate > ul > li.on > a{color:#000;}
#lnb_cate .cat_depth{display:none;position:absolute;width:219px;z-index:99;background:#fff;font-family:dotum;margin:0;top:0;height:100%;border:1px solid #c3c3c3;border-width:0 1px 0 0;}
#lnb_cate .cat_depth a{font-family:dotum;font-size:12px;}
#lnb_cate .cat_depth2{left:239px;}
#lnb_cate .cat_depth2 li{line-height:29.7px;height:29.7px;width:100%;background:#fff;}
#lnb_cate .cat_depth2 a{padding:0 35px;color:#5f5f5f;overflow:hidden;white-space:nowrap;max-width:219px;}
#lnb_cate .cat_depth2 a:hover{background:#df0000;color:#fff;font-weight:700;}

.cat_depth2more{position:relative;top:-326px;left:220px;border-right:1px solid #c3c3c3;}
.cat_depth2more:last-child{border-bottom:1px solid #c3c3c3;}

#lnb_cate .lnb_cate_img{display:none;position:absolute;top:0;margin:0 0 0 447px;z-index:9;width:741px;}
#lnb_cate .lnb_cate_img span{text-shadow:1px 1px 0px #fff;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#lnb_cate .lnb_cate_img > span{position:absolute;left:26px;}
#lnb_cate .lnb_cate_img span.subj{top:78px;color:#bd0000;font-style:italic;font-size:35px;font-weight:900;letter-spacing:-1px;}
#lnb_cate .lnb_cate_img span.txt1{top:22px;color:#000;font-size:11px;font-weight:900;letter-spacing:-0.7px;}
#lnb_cate .lnb_cate_img span.txt2{top:42px;color:#560202;font-style:italic;font-size:25px;font-weight:900;letter-spacing:-0.8px;left:25px;}
#lnb_cate .lnb_cate_img span.txt2 span{font-weight:500;}
#lnb_cate .lnb_cate_img span.txt3{top:143px;color:#333;font-size:12px;font-weight:600;letter-spacing:-0.5px;line-height:22px;left:29px;
background:rgba(255, 255, 255, 0.45);border-radius:100px;box-shadow:0px 0px 20px #fff;
}
#lnb_cate .lnb_cate_bg{background-image:url('./../img/lnb_cate_img.jpg');background-size:cover;background-repeat:no-repeat;background-position:center center;height: 478px;}

.leftadd > span{left:250px !important;}

#top_lay #top_slide{position:absolute;top:30px;right:0;float:right;}
#top_lay #top_slide a{position:absolute;left:122px;bottom:59px;display:block;width:197px;height:42px;}

.top_bn_logo{clear:both;position:relative;width:680px;height:260px;overflow:hidden;text-align:center;padding:0;border:5px solid #d8d8d8;border-width:0 5px 5px;}
.top_bn_logo a{display:inline-block;width:19%;opacity:0.9;padding:10px 0;}
.top_bn_logo a:hover{opacity:1;}
.top_bn_logo img{width:100%;}
.top_bn_logo p{margin:0;padding:0;height:35px;line-height:35px;font-size:18px;background:#d8d8d8;color:#3d3d3d;font-weight:600;text-align:center;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
.top_bn_logo span{font-weight:900;}
.top_bn_logo strong{font-weight:700;color:#740c15;}
.main_bn{clear:both;position:relative;margin:10px 0 0;}
.main_bn div{position:relative;float:left;margin:0 6px 0 0;}
/*
.main_bn div:nth-child(1) a{position:absolute;right:10px;bottom:20px;display:block;width:198px;height:40px;line-height:40px;text-align:center;background:#1f1f1f;color:#fff;font-size:12px;font-weight:600;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
*/
.main_bn div:last-child{margin:0;}

.bx-wrapper{width:100%;}
.bx-wrapper .bx-viewport{background:none;}

#slide_main{clear:both;position:relative;margin:0;padding:10px 0;}
#slide_main li{float:left;width:230px !important;min-height:280px;margin:0 5px;text-align:center;}
#slide_main li a{display:block;text-decoration:none;position:relative;}
#slide_main li div{width:228px;height:228px;margin:0 0 2px;border:1px solid #d8d8d8;overflow:hidden;position:relative;}
#slide_main li a div:after{
	content:"";position:absolute;top:0;left:0;width:228px;height:228px;
	box-shadow:inset 0 0 0 1px #d8d8d8;
	-webkit-box-shadow:inset 0 0 0 1px #d8d8d8;
	-webkit-transition:box-shadow 0.1s;
	transition:box-shadow 0.1s; 
}
#slide_main li a div:hover:after{
	box-shadow:inset 0 0 0 3px rgba(1, 133, 152, 0.65);
	-webkit-box-shadow:inset 0 0 0 3px rgba(1, 133, 152, 0.65);
}

#slide_main li span{display:block;line-height:18px;font-family:dotum;letter-spacing:-0.8px;color:#000;}
#slide_main li span.brand{padding:0 0 5px;color:#940000;}
#slide_main li span.money{font-weight:700;}
#slide_main .bx-wrapper{max-width:100% !important;}
#slide_main .bx-wrapper .bx-controls a{top:34%;width:29px;height:70px;background:url('./../img/main_slide_controls.png') no-repeat;}
#slide_main .bx-wrapper .bx-controls a.bx-prev{background-position:0 0;left:5px;}
#slide_main .bx-wrapper .bx-controls a.bx-next{background-position:0 -72px;right:5px;}

#main_glist{clear:both;position:relative;margin:0;padding:0;}
#main_glist > div{border:1px solid #d8d8d8;padding:20px;margin:10px 0;text-align:center;}
#main_glist > div h4,
#main_glist > div p{text-align:center;margin:0;padding:0;}
#main_glist h4{font-size:50px;font-weight:900;color:#a5a4a4;letter-spacing:-1.2px;font-family:'Nanum Gothic','NanumGothic',나눔고딕,sans-serif;}
#main_glist h4 span{color:#c10000;}
#main_glist p{font-size:18px;font-weight:700;color:#595959;letter-spacing:-1px;font-family:'Malum Gothic','MalumGothic',맑음고딕,sans-serif;padding:7px 0;}
#main_glist ul{padding:0;width:1176px;margin:0 auto;}
#main_glist li{float:left;display:table;width:190px;height:312px;margin:0 2px 10px;text-align:center;}
#main_glist li div{height:250px;display:table-cell;vertical-align:middle;border:1px solid #d8d8d8;}
#main_glist li div:hover {border:1px solid #018598;}
#main_glist li span{display:block;line-height:18px;font-family:dotum;}
#main_glist li span.title{padding:5px;color:#4d4d4d;letter-spacing:-0.8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:180px;}
#main_glist li span.money{font-weight:700;color:#fa7218;font-size:14px;letter-spacing:-1.2px;}
#main_glist a{display:block;text-decoration:none;}

.list_coop{text-align:center;}
.list_coop > .item{display:inline-block;vertical-align:top;padding:0 25px;margin:0 10px 10px 0;border:1px solid #999;}
.list_coop > .item a img{width:200px;height:85px;}

.tbl_li_cont{width:100%;text-align:center;}
.tbl_item_content{text-align:center;}


.selectBox-dropdown-menu{top:145px;}