	.bor_lblue{border: 1px solid #399BD8;border-radius: 0.8rem;padding: 0.4rem 1.2rem;font-style: normal;height: fit-content;}
	.sub_bg{ background:url(../img/sub_bgimg.png) no-repeat top;background-attachment: fixed;}
	.stitle{border-radius:10px; padding:0.5rem 1.5rem;background-color: #D6EAF5}
	.sub_layout{padding-top:8rem; padding-bottom:8rem;}
	

	.btn_num{font-size:1.7rem}
	.btn_prev{font-size:1.5rem}
	.btn_next{font-size:1.5rem}


/*reviews_list*/

.list_box {
    border-radius: 16px;

    width: 100%;


}
.list_box img{width:100%;}
.list_box_txt h2 {
    line-height: 138%;
}
.reviews_view_bg{background-color: #F6F6F6; padding: 5rem 0; margin-bottom: 0 !important;}
.reviews_view_bg .reviews_view{margin-bottom: 0;}
.reviews_view_bg img{max-width:924px; margin: 0 auto; width: 100%;}


/*reviews_view*/
.reviews_view{max-width:924px; width:100%;margin: 0 auto; margin-bottom: 5rem}


/*product_description*/
.product_cb {
    padding: 3.5rem; border: 1px solid #E9E9E9; border-radius: 1.6rem; box-shadow: 0 0.5rem 1.0rem rgb(85 99 141 / 16%);
}

.product_cardbox{max-width:933px; margin:0 auto; width:100%;}


.product_cb ul li i img{max-width:1.2rem !important;}







/*about_us*/
	
	
	.about_title h3{white-space:pre-line}
	.about_title p{white-space:pre-line}
	.about_text {line-height: 170%;}
	

/*use*/
	.use_sub_title{border-radius:2rem;}
    .use{box-sizing: border-box;display: flex;flex-wrap: wrap;}
	.use li {
		border-radius: 2.6rem;
		box-shadow: 0 5px 10px #55638d21;
		background: #fff;
		padding:5.4rem 0;
		width:calc((100% - 54px)/3);
        margin-right: 27px !important;
        border:1px solid #e9e9e9;
        margin-bottom: 2.5rem;
	}
    .use li img{width: 100%;}
    
    .use li:last-child{margin-right: 0 !important;}



@media (max-width: 1320px) {
	.reviews_view_bg{background-color: #fff; padding: 0;}
	.sub_layout .mb_50{margin-bottom: 2.5rem !important;}
	.sub_layout .mt_65{margin-top: 2.5rem !important;}
	.sub_layout {padding-top: 12rem;padding-bottom: 7rem;}
}


/*반응형 max 1200 xl*/
@media (max-width: 1199.98px) {
	.sub_icon{width: 80%;}

	/*about_us*/
	.about_title p{white-space:inherit;}
	.reviews_view h2 i img {
		width: 70%;
	}
	.sub_layout {padding-top: 14rem}
}


/*반응형 max 992px lg*/
@media (max-width: 991.98px) {

    .use li {width: 100%;margin-right: 0 !important;}

	/*about_us*/
	.about_title p{white-space:pre-line;}

	.div_cg {
	display:flex;
	flex-direction: column-reverse;
	}

	.div_cg div{
	height: auto;
	}

/*product_description*/




}


/*반응형 max 767px md*/
@media (max-width: 767.98px) {
.use_box {
		width:100%
	}
    .mb_90 {margin-bottom: 6rem;}
	.reviews_view {margin-bottom: 4rem;}
	.reviews_view.mt_50{margin-top: 4rem !important;}
	.sub_pg.pb-0{min-height: auto;}
	.sub_pg.pt-0{min-height: auto;}
	.reviews_view .fs_18{
		font-size: 1.7rem;
	}
}


/*반응형 max 576px sm*/
@media (max-width: 575.98px) {
	.about_title p{white-space:inherit;}
    .use li {padding: 3.5rem 0; margin-bottom: 2rem;}
    .use li .pb_30 {padding-bottom: 2rem;}
    .use li .px-5 {padding-left: 2rem!important;}
    .use li .p_35_30 {padding: 3.0rem 2rem;}
    .sub_layout {padding-top: 9.5rem;}
    .product_cb {padding: 3rem 2.5rem;}
    .product_cardbox .mb_25 { margin-bottom: 1.5rem;}
    .product_cardbox .mb-5{margin-bottom:2rem !important;}
	.reviews_view .fs_18{font-size: 1.65rem;}
	.reviews_view {margin-bottom: 3rem;}
	.reviews_view.mt_50 {margin-top: 3rem !important;}
}
